<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>js 自动播放幻灯片</title>
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<style>

</style>

<body>
<ul id="RunTopic">
<li>文字1</li>
<li>文字2</li>
<li>文字3</li>
<li>文字4</li>
<li>文字5</li>

</ul>
<br>
<input type="button" onclick="test();" value="test">
<script type="text/JavaScript">
function test()
{
$("#RunTopic").find("li:first").appendTo($("#RunTopic"));
}

setI
</script>
</body>
</html>